@using Cliffy.Web;
@using Cliffy.Web.CliffordCorner;
@model PagePhotoSetTag

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
<h2>@Model.Title</h2>
@if (!string.IsNullOrWhiteSpace(Model.Content))
{
<div>@Html.Raw(Model.Content)</div>
}
@Html.Thumbnails(Model)
</div>

<div id="subcontent">
@Html.MenuBlock(Model, Model.Navigation[NavigationType.Sub], slideShow: true)
</div>

@section SlideShow {
@Html.SlideShow(Model.Photographs)
}